# Firebase Configuration Template
# Copy this file to .env and replace with your actual Firebase project configuration credentials
# Firebase Console -> Project Settings -> General -> Your apps -> Web app

VITE_FIREBASE_API_KEY=AIzaSyAHYh8CDP8q8c4d09o9TdU8bka5kTiD7dg
VITE_FIREBASE_AUTH_DOMAIN=reels-code.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=reels-code
VITE_FIREBASE_STORAGE_BUCKET=reels-code.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1006350090320
VITE_FIREBASE_APP_ID=1:1006350090320:web:a6eef8c7e185c1ae9cd155
